<%- include('../layout/header') %>
    <div class="container">
        <div class="row bg-dark-grey-3">

            <div class="col-md-12">

                <h1 class="display-4 text-center color-purple text-uppercase mb-5 mt-5">Notícias</h1>
                <% if (!!locals.newsList && newsList.length> 0){ %>
                    <% for (let index=0; index < newsList.length; index++){ const title=newsList[index].titulo; const
                        description=newsList[index].texto; const
                        image=`/src/public/images/news/${newsList[index].id}${newsList[index].Images[0].dataValues.diretorio}`;
                        const type=newsList[index].tipo; const News={ title, description, image, type }; %>

                        <% if (News.type==2) { %>
                            <div class="d-flex justify-content-between">
                                <div class="col-md-8">
                                    <section id="primary">
                                        <div class="card bg-dark text-white card-container-custom w-70">
                                            <img class="card-img w-70" src="<%= News.image %>" alt="<%= News.title %>">
                                            <div class="card-img-overlay card-body d-flex">
                                                <div class="align-self-end card-img-overlay-custom d-none d-md-block">
                                                    <h5 class="card-title d-block">
                                                        <%= News.title %>
                                                    </h5>
                                                    <p class="card-text">
                                                        <%= News.description %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <% } %>

                                    <% if (News.type==1){ %>
                                        <div class="col-md-4">


                                            <div class="card-aside mx-4">
                                                <h3 class="color-purple">
                                                    <%= News.title %>
                                                </h3>

                                                <div class="card-img">
                                                    <img class="img-fluid" width="200" height="200" src="<%= News.image %>" alt="<%= News.title %>">
                                                </div>
                                                <div class="card-aside-content mt-2">
                                                    <span class="text-light">
                                                        <%= News.description %>
                                                    </span>
                                                </div>


                                            </div>


                                        </div>
                            </div>
                            <% } %>


                                <% if (News.type==0){ %>

                                    <div class="col-md-4 px-4">
                                        <section id="secondary" class="my-4">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card-img">
                                                        <img class="img-fluid" width="200" height="200" src="<%= News.image  %> " alt="<%= News.title %>">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">

                                                    <div id="card-news">
                                                        <h3 class="color-purple">
                                                            <%= News.title %>
                                                        </h3>
                                                        <span class="text-light">
                                                            <%= News.description %>
                                                        </span>
                                                    </div>

                                                </div>

                                            </div>
                                        </section>

                                    </div>

                                    <% } %>




                                        <% } %>
            </div>
        </div>
    </div>
    <% } %>
        <%- include('../layout/footer') %>