<%- include('../layout/header') %>

    <section id="cover">

        <div class="row">
            <div class="col-md-12">
                <div class="card bg-dark text-white card-container-custom">
                    <% 
                    let titlePost =  "Genérico";
                    let posterImagePrimary = '';
                    let posterImagePrimarySource = 'data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22780%22%20height%3D%22270%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20780%20270%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18054b9f77c%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A39pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18054b9f77c%22%3E%3Crect%20width%3D%22780%22%20height%3D%22270%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22290.234375%22%20y%3D%22152.4%22%3E780x270%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E';
                    let descriptionPostPrimary =  "Genérico";
                     
                    for (let index = 0; index < movieList.length; index++) {
                        const schedule = scheduleList[index];
                        const movie = movieList[index];

                     

                        if (schedule.tipo_agendamento == true){
                            titlePost = schedule.Movie.nome;
                            posterImagePrimary = movie.Images.find(s=> s.tipo_imagem == 1).diretorio;
                            posterImagePrimarySource = `/src/public/images/${movie.id}${posterImagePrimary}`;
                            descriptionPostPrimary = schedule.Movie.descricao;
                        } 
                        
                    }   %>

                        <img class="card-img" src="<%= posterImagePrimarySource  %>" alt="Card image">
                        <div class="card-img-overlay card-body d-flex">
                            <div class="align-self-end card-img-overlay-custom d-none d-md-block">
                                <h5 class="card-title d-block">
                                    <%= titlePost %>
                                </h5>
                                <p class="card-text">
                                    <%= descriptionPostPrimary %>
                                </p>
                            </div>
                        </div>
                </div>

            </div>
        </div>

    </section>

    <section id="movies-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h5 class="movies-main-header-custom px-3">Em Cartaz</h5>

                    <div class="row px-3">
                        <% for (let index=0; index < movieList.length; index++) { 
                            const movie = movieList[index];
                            const movieName = movie.nome; 
                            const posterImage = movie.Images.find(s=> s.tipo_imagem == 2).diretorio;
                            const posterImageSource = `/src/public/images/${movie.id}${posterImage}`
                            var rating = getRatingClass(movie.classificacao);

                            %>
                            <div class="col-md-3">
                                <div class="card-movie" data-id="<%= movie.id %>">

                                    <img class="img-fluid " src=" <%=posterImageSource%> " alt="<%= movie.nome %>">

                                    <div class="card-movie-info">
                                        <div class="movie-rating pg-sm rating-pull-right <%= rating %> ">
                                            <%= movie.classificacao %>
                                        </div>
                                    </div>


                                    <div class="p-2">
                                        <h4 class="text-light text-center">
                                            <%= movieName %>
                                        </h4>
                                    </div>


                                    <div class="text-center">
                                        <i class="fa-solid fa-star icon-active"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                    </div>
                                </div>
                            </div>

                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../layout/footer') %>